@keyframes rotateShake {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  45% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.call-icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.call-icon {
  font-size: 1.5rem; /* Adjust size as needed */
  color: #2ecc71; /* Adjust color as needed */
  margin-right: 1rem;
}

.rotate-shake {
  animation: rotateShake 1s ease-in-out infinite;
}
