.nav-login {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: auto;
  gap: 0.5rem;
}

.nav-login .profile-pic-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-login .profile-pic {
  width: 55px;
  height: 55px;
  object-fit: fill;
  object-position: center;
  border-radius: 100%;
  border: 2px solid var(--text);
  background-color: white;
}

.nav-login .logout-menu {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.nav-login .logout-menu .profile-buttons {
  display: flex;
  gap: 1rem;
}

.nav-login .logout-menu .btn {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 5px;
}

@media (min-width: 1700px) {
  .nav-login .profile-pic {
    width: 3.5vw;
    height: 3.5vw;
  }
}

@media (max-width: 1100px) {
  .nav-login {
    margin-top: 2rem;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  .nav-login .logout-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
}
