.nav-login {
  display: flex;
  gap: 0.5rem;
  position: relative;
  align-items: center;
  margin-left: auto;
}

.nav-login .profile-pic {
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: var(--text);
}
.nav-login .profile-pic:hover {
  color: var(--highlight);
}

.nav-btn {
  text-decoration: none;
  color: var(--text);
  padding: 5px 20px;
  border-radius: 20px;
}

.outline-btn {
  background-color: transparent;
  border: 2px solid var(--button-border);
}
.outline-btn:hover {
  color: var(--highlight);
  border-color: var(--highlight);
}

.filled-btn {
  background-color: var(--button);
  border: 2px solid var(--button);
}
.filled-btn:hover {
  background: linear-gradient(90deg, var(--button) 10%, var(--gradient) 100%);
}

@media (max-width: 1100px) {
  .nav-login {
    margin-top: 20px;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .nav-login .profile-pic {
    font-size: 3rem;
  }
  .nav-btn {
    width: 100%;
    text-align: center;
  }
}
