@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@layer theme, base, components, utilities;
@import "tailwindcss";

@theme {
  --font-fancy: "Chewy", system-ui;
}

:root {
  --primary-bg: #e5e5e5;
  --secondary-bg: #e5e5e5;
  --third-bg: #d1d8c7;
  --footer-bg: #303b36;

  --cbg-one: #a3dcd5;
  --cbg-two: #bddffa;
  --cbg-three: #e7b89c;
  --cbg-four: #d1d8c7;
  --cbg-five: #d5bdaf;
  /* --cbg-five: #a9927d; */

  --text: #3a4344;
  --highlight: #015950;
  --highlight-two: #a98467;
  --white-text: #f6f8ee;
  --link-text: #c2c5aa;

  --button: #81f18e;
  --button-border: #4a5a4d;

  --gradient: #addfff;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-width: 300px;
  background-color: var(--primary-bg);
  /* background-color: var(--primary-bg); */
}

.btn {
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  color: var(--text);
  padding: 7px 30px;
  border-radius: 40px;
  width: 100%;
  min-width: max-content;
  cursor: pointer;
  border: none;
}

.outline-btn {
  background-color: transparent;
  border: 2px solid var(--button-border);
}
.outline-btn:hover {
  color: var(--highlight);
  border-color: var(--highlight);
}

.filled-btn {
  background-color: var(--button);
  border: 2px solid var(--button);
}
.filled-btn:hover {
  background: linear-gradient(90deg, var(--button) 10%, var(--gradient) 100%);
}

/* Targeting WebKit-based browsers (Chrome, Edge, Safari) */
.scrollbar::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
  height: 8px; /* Scrollbar height (for horizontal scrollbars) */
  align-self: center;
}

/* Track (background) */
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-left: 5rem;
  margin-right: 5rem;
}

/* Thumb (draggable part) */
.scrollbar::-webkit-scrollbar-thumb {
  background: #4e4376; /* Thumb color */
  border-radius: 10px;
  height: 30px; /* Adjust the thumb length */
}

/* Hover effect */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2b5876;
}
