@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-bg: #fdfbf1;
  --secondary-bg: #ebefeb;
  --third-bg: #f7f0e6;
  --footer-bg: #303b36;

  --text: #102518;
  --highlight: #357960;
  --highlight-two: #a98467;
  --white-text: #f6f8ee;
  --link-text: #c2c5aa;

  --button: #81f18e;
  --button-border: #4a5a4d;

  --gradient: #addfff;
}

* {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 300px;
  background-color: var(--primary-bg);
  /* background-color: var(--primary-bg); */
}

.btn {
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  color: var(--text);
  padding: 7px 30px;
  border-radius: 40px;
  width: 100%;
  min-width: max-content;
  cursor: pointer;
  border: none;
}

.outline-btn {
  background-color: transparent;
  border: 2px solid var(--button-border);
}
.outline-btn:hover {
  color: var(--highlight);
  border-color: var(--highlight);
}

.filled-btn {
  background-color: var(--button);
  border: 2px solid var(--button);
}
.filled-btn:hover {
  background: linear-gradient(90deg, var(--button) 10%, var(--gradient) 100%);
}
