@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-bg: #fdfbf1;
  --secondary-bg: #ebefeb;
  --third-bg: #f7f0e6;
  --footer-bg: #303b36;

  --text: #102518;
  --highlight: #357960;
  --highlight-two: #a98467;
  --white-text: #f6f8ee;
  --link-text: #c2c5aa;

  --button: #81f18e;
  --button-border: #4a5a4d;

  --gradient: #addfff;
}

* {
  /* margin: 0; */
  /* padding: 0; */
  border: none;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 300px;
  background-color: var(--primary-bg);
  /* background-color: var(--primary-bg); */
}
